
.container {
    margin: 0 auto;
    width: 570px;
    margin-top: 90px;
    margin-bottom: 90px;
  }

.outline{
    margin-top: 60px;
}
.outline span{
    background:linear-gradient(transparent 60%, #ff6 60%);
    font-weight: bold;
    font-size: 20px; 
}

.kuizy-font{
    color:#48d8eb;
    font-size: 40px;
    font-family:'MS Sans Serif';
    text-align: center;
    margin: 20px auto;

}

.small-article{
    font-size: 30px;
    text-align: center;
}

.allQuestions{
    font-weight: bold;
    font-size: 120px; 
    text-align: center; 
    margin: 30px auto;
}

.list_arrange{
    list-style-type: none;
     text-align: center;   
}
.choices_arrange{
    cursor: pointer;
    font-weight: bold;
    border: 1px groove;
    width: 600px; 
    height: 60px;
    box-sizing: border-box;
    border-color:gainsboro;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.2);
    margin: 10px auto;
    padding-top: 20px;
    border-spacing: 10px;
}

li.correct{
    background-color: #08b3f0;
    color: #ffffff;
    font-weight: bold;
}
li.wrong{
    background-color: #fd6647;
    color: #ffffff;
    font-weight: bold;
}

.answer-color{
    color: white;
    background-color: deepskyblue;
}

.false-color{
    color: white;
    background-color:#E55204;
}

.result_border{
    display: none;
    font-weight: bold;
    border: 1px groove;
    width: 600px; 
    height: 80px;
    border-color:gainsboro;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.2);
    text-align: center;
    line-height: 3;
     margin: 10px auto; 
     padding-top: 20px;
    border-spacing: 10px;
}

.true_underline{
    display: inline-block;
    background:linear-gradient(transparent 60%, rgb(102, 245, 255) 60%);
    line-height: 1!important;
}

.false_underline{
    display: inline-block;
    background:linear-gradient(transparent 60%, rgb(255, 102, 102) 60%);
    line-height: 1!important;
}

.cannot-click{
    pointer-events: none;
}


.correct_area{
    display: none;
}
.false_area{
    display: none;
}